form {
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
  justify-content: center;
  background-color: #595959;
  padding: 10px;
  height: 100%;
}

form > input {
  width: 340px;
  background-color: #8c8c8c;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .container {
    width: 350px;
    margin: 0;
    padding: 10px;
  }
}

.form-container {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

app-table {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

button {
  background-color: #8c8c8c;
  padding: 2px;
  border: none;
  cursor: pointer;
}

app-home-item {
  margin: 0px;
}

.input-container {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 2px;
  background: transparent;
}
.input::placeholder {
  color: transparent;
}
.input:placeholder-shown ~ .label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.input:focus ~ .label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  font-weight: 700;
}

.image {
  border-radius: 50%;
  border: 1px solid black;
  height: 100px;
}

.button-container {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: center;
}

.button {
  position: relative;
  transition: all 0.3s ease;
  background: #262626;
  color: #9b9b9b;
  margin: 0px 5px;
  margin-top: 20px;
  line-height: 42px;
  padding: 0px 20px;
  border: none;
  width: 30%;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 4px;
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.button:hover {
  background: #464646;
  color: #9b9b9b;
  transform: translateY(-5px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  right: 0;
  z-index: -1;
  background: #262626;
  transition: all 0.3s ease;
}
.button:before {
  top: 0;
}
.button:after {
  bottom: 0;
}
.button:hover:before,
.button:hover:after {
  height: 0;
  background-color: #262626;
}

.select-container {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

select {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 2px;
  background: transparent;
}

option {
  background-color: #8c8c8c;
  color: #464646;
  border: #262626;
}

option:hover {
  color: #464646;
  border: #262626;
}
